---
import Layout from '../layouts/Layout.astro'
import VideoCard from '../components/VideoCard.astro'

import { getCollection } from 'astro:content'
const toots = await getCollection('toots')
---

<Layout title="Tailwind Toots">
  <main>
    <div class="container py-20">
      <h1 class="text-4xl sm:text-5xl md:text-7xl font-black text-white">Tailwind Toots</h1>
      <p class="text-xl mt-4 text-white/60 max-w-lg text-pretty">
        Sharp and potent Tailwind CSS mini-video tutorials, made by <a
          class="underline hover:no-underline"
          href="https://twitter.com/simonswiss">@simonswiss</a
        >.
      </p>
      <ul role="list" class="mt-16 grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        {toots.map((toot) => <VideoCard {...toot} />)}
      </ul>
    </div>
  </main>
</Layout>
