<p class="bg-indigo-100/20 p-4 rounded text-lg inline-block">
  Like those toots? I also teach *serious* courses on <a class="underline hover:no-underline" href="https://protailwind.com">Pro Tailwind</a> and <a
  class="underline hover:no-underline"
  href="https://www.epicweb.dev/workshops/pixel-perfect-figma-to-tailwind">Epic Web</a
>.
</p>
